html,
body {
    height: 100%;
    width: 100%;
    font-family: "poppinsregular", sans-serif;
    color: #222;
}
.logo {
    height: 47px;
    width: 170px;
}
a {
    font-family: 'Poppins', sans-serif;
}
.containerr {
  height: 45px;
  width: 100%;
}
.hidee {
    border: hidden;
}
#mask {
	height: 100vh;
	z-index: 0;
	position: relative;
}
.Background {
  position: relative;
  height: 100vh;

}
.NavBarAdjest {
    padding-right: 100px;
    padding-left: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background: #fff;
}


:root {
  --color-underline: #00D945;
}
.menu__list {
  --underline-width: 0;
  --underline-offset-x: 0;

  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 4px;
  width: var(--underline-width);
  transform: translateX(var(--underline-offset-x));
  background-color: var(--color-underline);
  transition: transform 0.5s, width 0.5s;
  border-radius: 1px;
}

.menu__link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.active {
  color: #03a882;
}
.relative {
  position: relative;
  left: 130px;
  top: 51px;
}
/* 

.nav-link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding:  20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color:#00D9A5;
}
.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
} */

/* code Pen */



/* code Pen */




















  /* FAQ X Request App */


  .contact-area {
    padding-left: 70px;
    }
    .contact-area form {
    margin-top: 60px;
    }
    .contact-area .form-group {
    position: relative;
    margin-bottom: 20px;
    }
    .contact-area input,
    .contact-area textarea {
    position: relative;
    width: 100%;
    height: 50px;
    color: #777777;
    /* padding: 10px 25px; */
    background: #f4f4f4;
    display: block;
    border: 1px solid #ececec;
    }
    .contact-area .form-group select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ececec;
    background: #f4f4f4 url(../images/icons/icon-select.png) right center no-repeat;
    cursor: pointer;
    }
    .contact-area .form-group option {
    font-weight: normal;
    display: block;
    white-space: pre;
    height: 50px;
    padding: 20px;
    }
    .contact-area .form-group option:hover {
    background: #7b64cb;
    }
    .contact-area textarea {
    height: 190px;
    resize: none;
    padding-top: 15px;
    }
    .contact-area button {
    width: 100%;
    height: 50px;
    }
    .contact-area .form-group i {
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 15px;
    }
    
  .contact .contact-form .form-control {
    margin-bottom: 30px;
    }
    .contact .address-block .media {
    display: flex;
    }
  
    
  @media (max-width: 767px) {
    .contact .address-block .media {
      flex-wrap: wrap;
      text-align: center;
    }
    .contact .address-block .media:last-child {
      margin-bottom: 30px;
    }
    }
    .contact .address-block .media i {
    color: #48bdc5;
    font-size: 30px;
    margin-right: 35px;
    width: 40px;
    display: block;
    }
    @media (max-width: 767px) {
    .contact .address-block .media i {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    }
    .contact .address-block .media .media-body h3 {
    font-size: 24px;
    margin-bottom: 15px;
    }
    .contact .address-block .media .media-body p {
    line-height: 25px;
    }
    .contact .address-block .media:not(:last-child) {
    margin-bottom: 20px;
    }
    
    .form-control {
    box-shadow: none;
    border-radius: 0;
    padding: 15px 20px;
    font-size: 14px;
    }
    .form-control:focus {
    box-shadow: none;
    border: 1px solid #48bdc5;
    }
    .form-control.main {
    padding: 20px;
    }
  
    /* yuffyuyugyugsame */
  .accordion-section .accordion-holder {
    margin-top: 60px;
    }
    .accordion-section .accordion-holder .card {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .accordion-section .accordion-holder .card .card-header {
    background: #fff;
    padding: 0;
    border-radius: 0;
    }
    .accordion-section .accordion-holder .card .card-header .card-title {
    margin-bottom: 0;
    }
    .accordion-section .accordion-holder .card .card-header h4 {
    position: relative;
    }
    .accordion-section .accordion-holder .card .card-header h4 a {
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    display: block;
    background: #48bdc5;
    color: #fff;
    padding: 20px 30px;
    transition: all 0.3s ease;
    }
    .accordion-section .accordion-holder .card .card-header h4 a:before {
    content: "\f077";
    position: absolute;
    right: 20px;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    }
    .accordion-section .accordion-holder .card .card-header h4 a.collapsed {
    background: #fff;
    color: #000;
    }
    .accordion-section .accordion-holder .card .card-header h4 a.collapsed:before {
    content: "\f078";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    }
    .accordion-section .accordion-holder .card .card-header h4 a.collapsed:hover {
    color: #48bdc5;
    }
    .accordion-section .accordion-holder .card .card-body {
    padding: 20px 30px;
    }
  
    
  .section-title h3 {
    font-size: 40px;
    line-height: 50px;
    color: #222222;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    }
    .section-title span {
    color: #222222;
    font-weight: 400;
    }
    .section-title p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #777777;
    font-family: "Roboto", sans-serif;
    }
    
  /* FAQ  */